.action {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action__name {
  font-size: 16px;
  line-height: 20px;
  width: calc(100% - 90px);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action__description {
  min-width: 390px;
  margin: 0;
}

.action__discount {
  font-size: 16px;
  line-height: 15px;
}

.action__type {
  color: #666666;
}

.action__discount-desc {
  color: #666666;
}

.action__info {
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  background-color: #dcdfe8;
  color: #666666;
  margin-top: 10px;
  position: relative;
  padding-left: 25px;
}

.action__info::before {
  content: '';
  width: 11px;
  height: 11px;
  position: absolute;
  background: url('../img/icon-info.png') 0 0 no-repeat;
  top: 11px;
  left: 10px;
  z-index: 1;
}

.action__icon {
  display: inline-block;
  margin-right: 5px;
}
