.services {
  width: 550px;
/*  width: inherit;
  min-width: inherit
  max-width: inherit;*/
  margin: 0 auto;
  padding-top: 13px;
  background-color: #fff;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__item {
  margin-bottom: 16px;
}
