.services {
  width: 550px;
/*  width: inherit;
  min-width: inherit
  max-width: inherit;*/
  margin: 0 auto;
  padding-top: 13px;
  background-color: #fff;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__item {
  margin-bottom: 16px;
}

/*service*/

.service {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 35px;
  position: relative;
}

.service::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  z-index: 1;
  background-color: #8cba00;
  left: -7px;
  top: 0;
}

.service--disabled::before {
  background-color: #dc795e;
}

.service--ordered::before {
  background-color: #e9cd44;
}

.service__col {
  width: max-content;
  padding-top: 5px;
  padding-bottom: 10px;
}

.service__top,
.service__bottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__show-more {
  width: 13px;
  height: 13px;
  padding: 0;
  border: 1px solid #b5c7db;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 10px;
}

.service__show-more:hover,
.service__show-more:focus {
  outline: none;
  background-color: #b5c7db;
  cursor: pointer;
}

.service__show-more::before {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-color: transparent;
  border-top: 1px solid #8ea3bb;
  border-left: 1px solid #8ea3bb;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2.5px);
}

.service__show-more:hover::before,
.service__show-more:focus::before {
  border-color: #ffffff;
}

.service__name {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 420px;
}

.service__description {
  margin: 0;
  letter-spacing: -0.13px;
  min-width: 420px;
}

.service__update {
  font-size: 12px;
  line-height: 15px;
  color: #8cba00;
  bottom: 0px;
  left: 3px;
}

.service__type {
  color: #888888;
}

.service__price {
  font-size: 20px;
  line-height: 20px;
}

.service__period {
  color: #888888;
}

.service--disabled .service__update,
.service--disabled .service__price,
.service--disabled .service__period {
  display: none;
}


