.service {
  position: relative;
}

.service__info {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 34px;
  position: relative;
  margin-bottom: 7px;
}

.service__info::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  z-index: 1;
  background-color: #8cba00;
  left: -7px;
  top: 0;
}

.service--disabled .service__info::before {
  background-color: #dc795e;
}

.service--ordered .service__info::before {
  background-color: #e9cd44;
}

.service__col {
  width: max-content;
  padding-top: 5px;
  padding-bottom: 10px;
}

.service__top,
.service__bottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.service__show-more {
  width: 13px;
  height: 13px;
  padding: 0;
  border: 1px solid #b5c7db;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 10px;
}

.service__show-more:hover,
.service__show-more:focus {
  outline: none;
  background-color: #b5c7db;
  cursor: pointer;
}

.service__show-more::before {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-color: transparent;
  border-top: 1px solid #8ea3bb;
  border-left: 1px solid #8ea3bb;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2.5px);
}

.service__show-more:hover::before,
.service__show-more:focus::before {
  border-color: #ffffff;
}

.service__name {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: left;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 420px;
}

.service__description {
  margin: 0;
  letter-spacing: -0.13px;
  min-width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service__update {
  font-size: 12px;
  line-height: 15px;
  color: #8cba00;
  bottom: 0px;
  left: 8px;
}

.service__type {
  color: #888888;
}

.service__price {
  font-size: 20px;
  line-height: 20px;
}

.service__price-comment {
  color: #888888;
}

.service__period {
  color: #888888;
}

.service__action {
  display: flex;
  justify-content: space-between;
}

.service--disabled .service__update,
.service--disabled .service__price,
.service--disabled .service__period {
  display: none;
}

.service__more-info {
  width: calc(100% - 34px);
  margin-left: 34px;
  background-color: #e7eaf2;
}

.service__internet {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 24px;
  border-bottom: 1px solid #cfd2d9;
}

