.service {
  position: relative;
}

.service__info {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 18px;
  position: relative;
  margin-bottom: 7px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__info::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  z-index: 1;
  background-color: #8cba00;
  left: 0;
  top: 0;
}

.service--disabled .service__info::before {
  background-color: #dc795e;
}

.service--ordered .service__info::before {
  background-color: #e9cd44;
}

.service__row {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.service__name {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.service__name:disabled {
  color: #000000;
  pointer-events: none;
}

.service__description {
  margin: 0;
  letter-spacing: -0.13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service--disabled .service__name,
.service--disabled .description {
  width: 100%;
}

.service__update {
  font-size: 12px;
  line-height: 15px;
  color: #8cba00;
  bottom: 0px;
  margin-right: 10px;
  left: 8px;
}

.service__type {
  color: #888888;
}

.service__price {
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  flex-basis: 40px;
  flex-grow: 1;
}

.service__price-comment {
  color: #888888;
  flex-basis: 120px;
  flex-grow: 1;
  text-align: right;
}

.service__period {
  text-align: right;
  flex-basis: 40px;
  flex-grow: 1;
  color: #888888;
}

.service__action {
  display: flex;
  justify-content: space-between;
}

.service__action-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service__action-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
}

.service--disabled .service__update,
.service--disabled .service__price,
.service--disabled .service__period {
  display: none;
}

.service__show-more {
  width: 13px;
  height: 13px;
  padding: 0;
  border: 1px solid #b5c7db;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 17px;
}

.service__show-more:hover,
.service__show-more:focus {
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.service__show-more::before {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(-135deg);
  border-color: transparent;
  border-top: 1px solid #8ea3bb;
  border-left: 1px solid #8ea3bb;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -2.5px;
}

.service__info--show-details .service__show-more::before {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -2px;
}

.service__more-info {
  width: calc(100% - 54px);
  margin-left: 38px;
  background-color: #e7eaf2;
  transform: translateY(-55px);
  opacity: 0;
  height: 0;
  position: relative;
  z-index: -1;
}

.service__info--show-details + .service__more-info {
  transform: translateY(0);
  height: auto;
  opacity: 1;
  display: block;
  transition-duration: 0.6s;
  z-index: 0;
}
